body {
    background:red !important;
}


.cart-page {

    width:1200px;

    margin:50px auto;

    display:grid;

    grid-template-columns:1fr 350px;

    gap:30px;

}


.empty-cart {

    background:white;

    padding:50px;

    text-align:center;

}


.price-card {

    background:white;

    padding:30px;

}
